<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{content.head | safe}}
    <title>{{title}}</title>
    <link rel="stylesheet" href='{{ "/styles/global.css" | url}}'>
    <style>
    {{content.css | safe}}
    </style>
</head>
<body>
{{content.body | safe}}
</body>
</html>